.admonition {
    padding: 15px;
    margin-bottom: 21px;
    border-left: 10px solid transparent;
}

.admonition-title {
    margin: 0;
    text-transform: uppercase;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
}

.note {
    border-color: olive;
    background-color: #f6fffe;
}

.note .admonition-title {
    color: olive;
    border-color: olive;
}

.warning {
    border-color: orange;
    background-color: #f6fffe;
}

.warning .admonition-title {
    color: orange;
    border-color: orange;
}

.danger {
    border-color: red;
    background-color: #f6fffe;
}

.danger .admonition-title {
    color: red;
    border-color: red;
}

.attention {
    border-color: red;
    background-color: #f6fffe;
}

.attention .admonition-title {
    color: red;
    border-color: red;
}

.caution {
    border-color: red;
    background-color: #f6fffe;
}

.caution .admonition-title {
    color: red;
    border-color: red;
}

.error {
    border-color: red;
    background-color: #f6fffe;
}

.error .admonition-title {
    color: red;
    border-color: red;
}

.hint {
    border-color: gray;
    background-color: #f6fffe;
}

.hint .admonition-title {
    color: gray;
    border-color: gray;
}

.important {
    border-color: blue;
    background-color: #f6fffe;
}

.important .admonition-title {
    color: blue;
    border-color: blue;
}

.tip {
    border-color: green;
    background-color: #f6fffe;
}

.tip .admonition-title {
    color: green;
    border-color: green;
}
